@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

.active{
    background-color: rgb(213, 241, 241);
    border-color: black;
}

*{
    font: outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: rgb(201, 236, 236);
    border-radius: 4px;
}